# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.iml
.vscode
# Folders
_obj
_test
.idea
pkg
bin
*.tmp

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.exe
*.class

# Package Files
*.war
*.ear
*.DS_Store
